USE [master]
GO
/****** Object:  Database [Farmacol1]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE DATABASE [Farmacol1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Farmacol1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS03\MSSQL\DATA\Farmacol1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Farmacol1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS03\MSSQL\DATA\Farmacol1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Farmacol1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Farmacol1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBAreas]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAreas](
	[ID_Area] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBInventario]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBInventario](
	[ID_Equipo] [int] IDENTITY(1,1) NOT NULL,
	[Ubicación] [varchar](200) NULL,
	[Ubicación2] [varchar](200) NULL,
	[Dispositivo] [varchar](200) NULL,
	[Modelo] [varchar](100) NULL,
	[Serie] [varchar](100) NULL,
	[IMEI] [varchar](100) NULL,
	[Marca] [varchar](100) NULL,
	[Observación] [varchar](500) NULL,
	[Planta] [varchar](100) NULL,
	[Cédula] [int] NULL,
	[Anexo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBNotificaciones]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBNotificaciones](
	[ID_Notificacion] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioDestino] [varchar](100) NOT NULL,
	[Mensaje] [varchar](300) NOT NULL,
	[Leida] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[ID_Solicitud] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBPersonal]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPersonal](
	[CC] [int] NOT NULL,
	[ExpedicionCiudad] [varchar](100) NULL,
	[CiudadTrabajo] [varchar](100) NULL,
	[NombreColaborador] [varchar](150) NULL,
	[Cargo] [varchar](100) NULL,
	[CodCeco] [varchar](20) NULL,
	[NombreCentroCostos] [varchar](150) NULL,
	[Area] [varchar](100) NULL,
	[Gerencia] [varchar](150) NULL,
	[FechaIngreso] [date] NULL,
	[VencimientoPeriodoPrueba] [date] NULL,
	[AniosAntiguedad] [int] NULL,
	[MesesAntiguedad] [int] NULL,
	[SalarioEnero2020] [decimal](18, 2) NULL,
	[SalarioFeb2020] [decimal](18, 2) NULL,
	[SalarioFeb2021] [decimal](18, 2) NULL,
	[SalarioFeb2022] [decimal](18, 2) NULL,
	[SalarioFeb2023] [decimal](18, 2) NULL,
	[SalarioEneFeb2024] [decimal](18, 2) NULL,
	[SalarioMar2024] [decimal](18, 2) NULL,
	[SalarioFeb2025] [decimal](18, 2) NULL,
	[SalarioFeb2026] [decimal](18, 2) NULL,
	[AuxAlimentacion2020] [decimal](18, 2) NULL,
	[AuxAlimentacion2021] [decimal](18, 2) NULL,
	[AuxAlimentacion2022] [decimal](18, 2) NULL,
	[AuxAlimentacion2023] [decimal](18, 2) NULL,
	[AuxGasolina2021] [decimal](18, 2) NULL,
	[AuxGasolina20222023] [decimal](18, 2) NULL,
	[AuxRodamiento] [decimal](18, 2) NULL,
	[AuxRodamiento20222023] [decimal](18, 2) NULL,
	[BaseIncentivo20222023] [decimal](18, 2) NULL,
	[MedicinaPrepagada] [decimal](18, 2) NULL,
	[LlaveSnacBebidas] [decimal](18, 2) NULL,
	[FechaNacimiento] [date] NULL,
	[Edad] [int] NULL,
	[MesesEdad] [int] NULL,
	[MesNacimiento] [varchar](20) NULL,
	[Generacion] [varchar](50) NULL,
	[Genero] [varchar](20) NULL,
	[CiudadNacimiento] [varchar](100) NULL,
	[EstadoCivil] [varchar](30) NULL,
	[CorreoPersonal] [varchar](150) NULL,
	[Contacto] [varchar](100) NULL,
	[DireccionResidencia] [varchar](200) NULL,
	[Barrio] [varchar](100) NULL,
	[Rh] [varchar](10) NULL,
	[ContactoEmergencia] [varchar](150) NULL,
	[Parentesco] [varchar](50) NULL,
	[TelefonoEmergencia] [varchar](30) NULL,
	[TipoContrato] [varchar](50) NULL,
	[Eps] [varchar](100) NULL,
	[FondoPensiones] [varchar](100) NULL,
	[FondoCesantias] [varchar](100) NULL,
	[CajaCompensacion] [varchar](100) NULL,
	[Arl] [varchar](100) NULL,
	[TipoCuenta] [varchar](30) NULL,
	[NumeroCuenta] [varchar](30) NULL,
	[Banco] [varchar](100) NULL,
	[TallaCamisa] [varchar](10) NULL,
	[Grupo] [varchar](50) NULL,
	[Concepto] [varchar](200) NULL,
	[CorreoCorporativo] [varchar](150) NULL,
	[UsuarioCorporativo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBResponsivas]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBResponsivas](
	[Cédula] [int] NOT NULL,
	[Equipo] [varchar](100) NULL,
	[Marca] [varchar](100) NULL,
	[Serie] [varchar](100) NULL,
	[Observación] [varchar](100) NULL,
	[Estado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cédula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSolicitudes]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSolicitudes](
	[ID_Solicitud] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Cargo] [varchar](100) NULL,
	[Tipo_Solicitud] [varchar](200) NULL,
	[Hora_Inicio] [int] NULL,
	[Hora_Fin] [int] NULL,
	[Total_Horas] [int] NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Fin] [date] NULL,
	[Jefe_Inmediato] [varchar](100) NULL,
	[Cargo_JInmediato] [varchar](100) NULL,
	[Motivo] [varchar](200) NULL,
	[Fecha_Solicitud] [date] NULL,
	[Aprob_JInmediato] [varchar](10) NULL,
	[Aprob_CH] [varchar](10) NULL,
	[Observaciones] [varchar](200) NULL,
	[Anexos] [varchar](200) NULL,
	[Estado] [varchar](100) NULL,
	[Total_Dias] [int] NULL,
	[SubtipoPermiso] [varchar](100) NULL,
	[EtapaAprobacion] [varchar](50) NULL,
	[ObservacionJefe] [varchar](300) NULL,
	[ObservacionRRHH] [varchar](300) NULL,
	[Paso1Aprobador] [varchar](100) NULL,
	[Paso1Estado] [varchar](20) NULL,
	[Paso1Obs] [varchar](300) NULL,
	[Paso2Aprobador] [varchar](100) NULL,
	[Paso2Estado] [varchar](20) NULL,
	[Paso2Obs] [varchar](300) NULL,
	[Paso3Aprobador] [varchar](100) NULL,
	[Paso3Estado] [varchar](20) NULL,
	[Paso3Obs] [varchar](300) NULL,
	[TotalPasos] [int] NULL,
	[PasoActual] [int] NULL,
	[NivelSolicitante] [varchar](50) NULL,
	[FechaDevolucion] [datetime] NULL,
	[CC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSoliRechazada]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSoliRechazada](
	[ID_Solicitud] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Cédula] [int] NOT NULL,
	[Tipo_Solicitud] [varchar](100) NOT NULL,
	[Motivo] [varchar](100) NOT NULL,
	[Observaciones] [varchar](200) NULL,
	[Anexos] [varchar](100) NULL,
	[Fecha_Solicitud] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSubtiposPermiso]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSubtiposPermiso](
	[ID_Subtipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Subtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBTiposSolicitud]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBTiposSolicitud](
	[ID_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBVacaciones]    Script Date: 12/03/2026 08:31:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBVacaciones](
	[ID_Vacación] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Cédula] [varchar](100) NOT NULL,
	[Cargo] [varchar](100) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NOT NULL,
	[Total_Días] [int] NOT NULL,
	[Fecha_Solicitud] [date] NOT NULL,
	[Observaciones] [varchar](200) NULL,
	[Anexos] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Vacación] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260227134008_IdentitySetup', N'10.0.3')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'15C5085B-65E6-4740-A8F9-A67DB880D9AA', N'Coordinador', N'COORDINADOR', N'B920BFFE-B826-4FEE-9494-19BBCB6D8316')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3BE6AAD6-6912-41F6-B800-6AFDD700B56C', N'Jefe', N'JEFE', N'277A5E1F-23D7-406B-8183-0EE4CEBD0297')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'6072DB3F-059C-4C84-BCDC-55157738F47A', N'Directivo', N'DIRECTIVO', N'E5A4ED8A-5FA1-4C84-8909-0EA9AE37E0D8')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9f0bc72f-e489-4e73-b817-d784bdb30a31', N'15C5085B-65E6-4740-A8F9-A67DB880D9AA')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c01549e9-81e6-4d0a-8bc0-607ff814a344', N'15C5085B-65E6-4740-A8F9-A67DB880D9AA')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'70f23ab5-bd2a-44b8-ab29-e49ead36c9a3', N'3BE6AAD6-6912-41F6-B800-6AFDD700B56C')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'359e9616-8323-4844-a846-f13098251aca', N'jjamaya', N'JJAMAYA', N'jjamaya@chinoin.com', N'JJAMAYA@CHINOIN.COM', 0, N'AQAAAAIAAYagAAAAEBDBCZuFEmzzPTZQZlgzwOF+e63qijyhZKWBkfVh2wtsggDwxtjw7NQCraPdy/CnFQ==', N'RK3YDK7AP4V4BPV7BUR5XXCZQW3FDHOJ', N'36989f66-fcc5-4605-bf0b-03271f55208c', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'55d017dd-74e4-493d-994f-30a49dad5d91', N'spgomez', N'SPGOMEZ', N'spgomez@chinoin.com', N'SPGOMEZ@CHINOIN.COM', 0, N'AQAAAAIAAYagAAAAEKswE659y4bS4jA5yGW5UYsWbwH8qAUTTGsGsyYUR0uB66AvWwe5y3ZwBMVWAHfBaw==', N'ESXEIKYTWZQB2YEDQ7MLVXXE46FARUX2', N'bc88525d-4274-4dbf-a16b-c9934b09a3df', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[TBAreas] ON 

INSERT [dbo].[TBAreas] ([ID_Area], [Nombre]) VALUES (9, N'Calidad')
INSERT [dbo].[TBAreas] ([ID_Area], [Nombre]) VALUES (10, N'Planta')
INSERT [dbo].[TBAreas] ([ID_Area], [Nombre]) VALUES (11, N'Contraloria')
SET IDENTITY_INSERT [dbo].[TBAreas] OFF
GO
SET IDENTITY_INSERT [dbo].[TBInventario] ON 

INSERT [dbo].[TBInventario] ([ID_Equipo], [Ubicación], [Ubicación2], [Dispositivo], [Modelo], [Serie], [IMEI], [Marca], [Observación], [Planta], [Cédula], [Anexo]) VALUES (949, N'Estante (Rps. 1)', N'Caja 1 (Cpus)', N'Equipo sobremesa Dell', N'OptiPlex 3050 SFF', N'5C0HWK2', N'N.A', N'Dell', N'N.A', N'Col', 1025532115, N'/anexos/equipo_949_639077146234346108.jpg')
INSERT [dbo].[TBInventario] ([ID_Equipo], [Ubicación], [Ubicación2], [Dispositivo], [Modelo], [Serie], [IMEI], [Marca], [Observación], [Planta], [Cédula], [Anexo]) VALUES (950, N'Estante (Rps. 1)', N'Caja 1 (Cpus)', N'Equipo sobremesa Lenovo', N'ThinkCentre M72e', N'MJ34LD6', N'N.A', N'Lenovo', N'Intel core i5, Windows 7', N'Col', NULL, N'/anexos/equipo_950_639077163055099989.jpg')
INSERT [dbo].[TBInventario] ([ID_Equipo], [Ubicación], [Ubicación2], [Dispositivo], [Modelo], [Serie], [IMEI], [Marca], [Observación], [Planta], [Cédula], [Anexo]) VALUES (951, N'Estante (Rps. 1)', N'Caja 1 (Cpus)', N'Tóner de impresora HP', N'508X', N'CF362XC', N'N.A', N'HP', N'Roto, tinta regada', N'Col', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TBInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[TBNotificaciones] ON 

INSERT [dbo].[TBNotificaciones] ([ID_Notificacion], [UsuarioDestino], [Mensaje], [Leida], [FechaCreacion], [ID_Solicitud]) VALUES (1, N'alejandro@farmacol.com', N'Nueva solicitud de permiso de Maria pendiente de tu aprobación.', 0, CAST(N'2026-03-04T08:12:41.847' AS DateTime), 5)
INSERT [dbo].[TBNotificaciones] ([ID_Notificacion], [UsuarioDestino], [Mensaje], [Leida], [FechaCreacion], [ID_Solicitud]) VALUES (2, N'pepito@chinoin.com', N'Nueva solicitud de permiso de Alejandro pendiente de tu aprobación.', 0, CAST(N'2026-03-04T08:16:00.140' AS DateTime), 6)
INSERT [dbo].[TBNotificaciones] ([ID_Notificacion], [UsuarioDestino], [Mensaje], [Leida], [FechaCreacion], [ID_Solicitud]) VALUES (3, N'jchinoin', N'Nueva solicitud de Permiso de Maria pendiente de tu aprobación.', 0, CAST(N'2026-03-04T08:48:36.090' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[TBNotificaciones] OFF
GO
INSERT [dbo].[TBResponsivas] ([Cédula], [Equipo], [Marca], [Serie], [Observación], [Estado]) VALUES (1025532115, N'Equipo sobremesa Dell', N'Dell', N'5C0HWK2', N'N.A', N'Activo')
GO
SET IDENTITY_INSERT [dbo].[TBSolicitudes] ON 

SET IDENTITY_INSERT [dbo].[TBSolicitudes] OFF
GO
INSERT [dbo].[TBSoliRechazada] ([ID_Solicitud], [Nombre], [Cédula], [Tipo_Solicitud], [Motivo], [Observaciones], [Anexos], [Fecha_Solicitud]) VALUES (8, N'Alejandro', 654987321, N'Permiso', N'Z', N'Z', NULL, CAST(N'2026-03-04' AS Date))
INSERT [dbo].[TBSoliRechazada] ([ID_Solicitud], [Nombre], [Cédula], [Tipo_Solicitud], [Motivo], [Observaciones], [Anexos], [Fecha_Solicitud]) VALUES (10, N'Maria', 987654321, N'Permiso', N'.', N'.', NULL, CAST(N'2026-03-04' AS Date))
INSERT [dbo].[TBSoliRechazada] ([ID_Solicitud], [Nombre], [Cédula], [Tipo_Solicitud], [Motivo], [Observaciones], [Anexos], [Fecha_Solicitud]) VALUES (11, N'Maria', 987654321, N'Permiso', N'.', N'.', NULL, CAST(N'2026-03-04' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TBSubtiposPermiso] ON 

INSERT [dbo].[TBSubtiposPermiso] ([ID_Subtipo], [Nombre]) VALUES (1, N'Calamidad doméstica')
INSERT [dbo].[TBSubtiposPermiso] ([ID_Subtipo], [Nombre]) VALUES (2, N'Escolar')
INSERT [dbo].[TBSubtiposPermiso] ([ID_Subtipo], [Nombre]) VALUES (3, N'Votación')
SET IDENTITY_INSERT [dbo].[TBSubtiposPermiso] OFF
GO
SET IDENTITY_INSERT [dbo].[TBTiposSolicitud] ON 

INSERT [dbo].[TBTiposSolicitud] ([ID_Tipo], [Nombre]) VALUES (1, N'Permiso')
INSERT [dbo].[TBTiposSolicitud] ([ID_Tipo], [Nombre]) VALUES (2, N'Vacaciones')
INSERT [dbo].[TBTiposSolicitud] ([ID_Tipo], [Nombre]) VALUES (3, N'Incapacidad')
SET IDENTITY_INSERT [dbo].[TBTiposSolicitud] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/03/2026 08:31:31 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBNotificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[TBNotificaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
USE [master]
GO
