@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FARMACOL CHINOIN</h1>
    <p>(┬┬﹏┬┬)</p> 
    <p>🤔</p>
    <pre>
    ฅ^•ﻌ•^ฅ   BIENVENIDOS!
    </pre>
</div>
